<% const hayMensajes=mensajesChat.length> 0; %>
<div class="container">
    <% if(hayMensajes){ %>
        <% for (const item of mensajesChat) {%>
            <div>
                <strong class="text-primary"> <%= item.tipo %> </strong>
                [<span class="text-danger"> <%= item.fechaHora %> </span>]: 
                <em> <%= item.mensaje %> </em>
            </div>

            <%};%>

    <% } else{ %>
        <h3 class="alert alert-danger">Envíe un mensaje para ver el chat</h1>
    <% } %>
</div>