<!DOCTYPE html>

<html lang="es">

    <head> 
        <%- include('../partials/head') %>
    </head>

    <body class="fondo__degrade">

        <!-- header -->
        <%- include('../partials/header') %>

        <!-- Formulario de Alta o Modificacion del Usuario -->
       <h1>formulario de alta o modificacion de usuario</h1>
            
        <!-- footer -->
        <%- include('../partials/footer') %>

    </body>

</html>