<!DOCTYPE html>

<html lang="es">

    <head> 
        <%- include('../partials/head') %>
    </head>

    <body class="fondo__degrade">

        <!-- header -->
        <%- include('../partials/header') %>

        <!-- Informacion del servidor -->
        <%- include('../partials/infoServer',{info:info}) %> 
            
        <!-- footer -->
        <%- include('../partials/footer') %>

    </body>

</html>