<!DOCTYPE html>

<html lang="es">

  <head> 
    <%- include('../partials/head') %>
</head>

  <body class="fondo__degrade">

    <!-- header -->
    <%- include('../partials/header') %>

    <!-- cuerpo de la pagina  -->
    <main class="main__login fondo__degrade">
      <h1 class="section-heading text-uppercase pt-4 pb-4"><strong>Iniciar Sesión</strong></h1>
      <fieldset>
          <form action="/web/login" method="post">
              <label for="usuario"><i class="fas fa-user"></i> Usuario : </label>
              <input type="text" class="mb-4 p-1" name="email" id="email" placeholder="Ingrese su email">
              <label for="clave"><i class="fas fa-key"></i> Contraseña : </label>
              <input type="password" class="mb-4 p-1" name="password" id="password" placeholder="Ingrese su contraseña">
              <br>
              <input type="submit" class="login__btn mt-4 p-2" name="Aceptar" value="Aceptar">
          </form>
      </fieldset> </br> </br>
      <a href="/web/registrarsePaso1">Registrarse</a>
    </main>

    <!-- header -->
    <%- include('../partials/footer') %>

  </body>
</html>