@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans+Narrow");
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  /* medida ajustada para luego usar 1rem = 10px */
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

.fondo__degrade {
  background: linear-gradient(90deg, #cccccc 0%, #cccccc 17%, white 100%);
}

.card__titulo--kayak {
  background-color: #97c5e7;
  letter-spacing: 1px;
  color: black;
  text-shadow: 2px 2px white;
}

.card__titulo--cicloturismo {
  background-color: #ced11f;
  letter-spacing: 1px;
  color: black;
  text-shadow: 2px 2px white;
}

.card__titulo--escalada {
  background-color: #bb4e1b;
  letter-spacing: 1px;
  color: white;
  text-shadow: 2px 2px black;
}

.card__titulo--trekking {
  background-color: #0a811a;
  letter-spacing: 1px;
  color: white;
  text-shadow: 2px 2px black;
}

.card__titulo--cumbre {
  background-color: #09287e;
  letter-spacing: 1px;
  color: white;
  text-shadow: 2px 2px black;
}

.card__body--kayak {
  background-color: #e4f0f9;
}

.color__fondo--kayak {
  background-color: #97c5e7;
}

.card__body--cicloturismo {
  background-color: #fbfbe5;
}

.color__fondo--cicloturismo {
  background-color: #ced11f;
}

.card__body--escalada {
  background-color: #f9e0d4;
}

.color__fondo--escalada {
  background-color: #bb4e1b;
}

.card__body--trekking {
  background-color: #f2fef4;
}

.color__fondo--trekking {
  background-color: #0a811a;
}

.card__body--cumbre {
  background-color: #e5ebfd;
}

.color__fondo--cumbre {
  background-color: #09287e;
}

.card__tablero {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-start;
  flex-wrap: wrap;
}

@media (min-width: 750px) {
  .card__tablero {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}
.card__individual {
  width: 100%;
  margin-bottom: 1rem;
}
.card__individual .card__titulo, .card__individual .card__titulo--kayak, .card__individual .card__titulo--cicloturismo, .card__individual .card__titulo--escalada, .card__individual .card__titulo--trekking, .card__individual .card__titulo--cumbre {
  border-style: none;
  padding-right: 1rem;
  font-weight: bold;
}
.card__individual .card__titulo--calendario {
  text-align: right;
}
.card__individual .card__titulo--paquete {
  text-align: center;
}
.card__individual .card__fecha {
  background-color: black;
  color: white;
  text-align: center;
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-left: -2rem;
  border-radius: 5px;
}
.card__individual .card__body__btn {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.card__individual .card__body__btn a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  border-radius: 5px;
}
.card__individual .card__body__btn a:hover {
  background-color: black;
  color: white;
}

@media (min-width: 767px) {
  .card__individual {
    width: 46%;
    margin: 1rem;
  }
}
@media (min-width: 1023px) {
  .card__individual {
    width: 31%;
    margin: 1rem;
  }
}
@media (min-width: 1439px) {
  .card__individual {
    width: 23%;
    margin: 1rem;
  }
}
.card__header {
  background-color: #a7a3a3;
}

.card__body {
  background-color: rgba(167, 163, 163, 0.5);
  padding: 0px;
}

.card-body {
  z-index: 20;
}

.modal__titulo {
  font-size: 1.8rem;
}

.modal__carousel {
  width: 330px;
}

@media (min-width: 750px) {
  .modal__carousel {
    width: 500px;
  }
}
header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
}

.header__img {
  width: 180px;
  filter: drop-shadow(1px 1px 1.3px #093864);
}

.footer {
  background-color: black;
}
.footer .footer__redes {
  text-align: right;
  width: 100%;
  padding: 1rem;
  background-color: #595959;
}
.footer .footer__redes .redes__link {
  color: white;
}
.footer .copyright {
  text-align: center;
  color: white;
  font-size: 1.4rem;
  padding: 1rem 0;
}

.main__banner {
  background-color: black;
  background-size: cover;
  height: 450px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 2rem;
  background-position: right;
}
.main__banner .banner__tit {
  color: white;
  font-style: italic;
  font-family: "Indie Flower", cursive;
  font-weight: 700;
  /* negrita */
  text-transform: capitalize;
  word-spacing: 1rem;
  filter: drop-shadow(1px 1px 1.3px black);
}
.main__banner .banner__tit--principal {
  font-size: 3.5rem;
}
.main__banner .banner__tit--secundario {
  font-size: 1.8rem;
  padding-left: 0rem;
}

@media (min-width: 426px) {
  .main__banner .banner__tit {
    color: black;
    filter: drop-shadow(1px 1px 1.3px white);
  }
}
@media (min-width: 620px) {
  .main__banner {
    padding-left: 1.3rem;
    height: 620px;
  }
  .main__banner .banner__tit--principal {
    font-size: 4rem;
  }
  .main__banner .banner__tit--secundario {
    font-size: 2rem;
  }
}
@media (min-width: 769px) {
  .main__banner {
    height: 620px;
  }
  .main__banner .banner__tit--principal {
    font-size: 5rem;
  }
  .main__banner .banner__tit--secundario {
    font-size: 3rem;
  }
}
@media (min-width: 1023px) {
  .main__banner {
    padding-left: 4rem;
  }
  .main__banner .banner__tit--principal {
    font-size: 8.2rem;
  }
  .main__banner .banner__tit--secundario {
    font-size: 4.2rem;
    padding-left: 4rem;
  }
}
.link__calendario {
  text-decoration: none;
  color: black;
  font-weight: 700;
  padding: 0 5px;
}
.link__calendario:hover {
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.card__tit__calen {
  background-color: #a7a3a3;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
}
.card__tit__calen h3 {
  color: black;
}

.nav__link--calendario.active {
  background-color: #cccccc !important;
  color: black;
}

.card__titulo__dia {
  text-shadow: 0px 0px white;
  font-weight: 400;
}

.card__body__detras {
  text-align: left;
  padding: 1rem;
}

.nav__link {
  display: block;
  padding: 0.5rem 1rem;
  color: white;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .nav__link {
    transition: none;
  }
}
.nav__link:hover,
.nav__link:focus {
  color: black;
  background-color: #cccccc;
  font-weight: 700;
  font-size: large;
}

.nav__link.active {
  background-color: #09287e;
  font-weight: 700;
  font-size: large;
}

.nav__link--cumbre:hover,
.nav__link--cumbre:focus {
  background-color: #09287e;
  color: white;
}

.nav__link--trekking:hover,
.nav__link--trekking:focus {
  background-color: #0a811a;
}

.nav__link--escalada:hover,
.nav__link--escalada:focus {
  background-color: #bb4e1b;
}

.nav__link--kayak:hover,
.nav__link--kayak:focus {
  background-color: #97c5e7;
}

.nav__link--cicloturismo:hover,
.nav__link--cicloturismo:focus {
  background-color: #ced11f;
}

.card__girar {
  background-color: transparent;
  width: 350px;
  height: 360px;
  perspective: 1000px;
  margin: 1rem;
}

.card__girar__caja {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card__girar:hover .card__girar__caja {
  transform: rotateY(180deg);
}

.card__girar__frente,
.card__girar__contrafrente {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

.card__girar__frente {
  background-color: white;
  color: black;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
}

.card__girar__contrafrente {
  background-color: #e9f2f7;
  color: black;
  transform: rotateY(180deg);
  border-radius: 10px;
  border: black 1px solid;
}

.guia {
  margin-bottom: 3rem;
  text-align: center;
}
.guia img {
  width: 14rem;
  height: 14rem;
  border: 0.5rem solid rgba(0, 0, 0, 0.1);
}
.guia h4 {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}
.contacto .contacto__formulario input {
  padding: 0.5rem;
  border-radius: 5px;
  border: unset;
}
.contacto .contacto__formulario select {
  padding: 0.5rem;
  border-radius: 5px;
  border: unset;
}
.contacto .contacto__formulario textarea {
  padding: 0.5rem;
  resize: none;
  /* elimina el poder modificar el tamaño del textarea*/
  margin-top: 1rem;
  border-radius: 5px;
  border: unset;
}
.contacto .contacto__formulario .formulario__btn {
  border-radius: 5px;
  border: unset;
  background-color: black;
  color: white;
}
.contacto .contacto__formulario .formulario__btn:hover {
  background-color: white;
  color: black;
}
.contacto .contacto__medios {
  text-align: left;
  margin-top: 4rem;
}
.contacto .contacto__medios a {
  text-decoration: none;
  color: black;
}
.contacto .contacto__medios a:hover {
  color: white;
  background-color: black;
}
.contacto .contacto__medios .contacto__medios__imagen {
  width: 10%;
  margin-bottom: 1rem;
  margin-left: 3rem;
}

@media (min-width: 767px) {
  .contacto {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .contacto .contacto__medios__imagen {
    margin-left: 0.3rem;
  }
}
.main__login {
  text-align: center;
  padding-bottom: 3rem;
}
.main__login fieldset {
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.4);
  border: 0px;
  padding: 2rem;
  width: 80%;
  display: inline-block;
}
.main__login label {
  display: block;
}
.main__login input {
  border: none;
  border-radius: 5px;
}
.main__login .login__btn {
  background-color: black;
  color: white;
}
.main__login .login__btn:hover {
  background-color: white;
  color: black;
}
.main__login a {
  text-decoration: none;
  color: black;
  display: block;
}
.main__login a:hover {
  font-weight: 700;
}

@media (min-width: 426px) {
  .main__login fieldset {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .main__login fieldset {
    width: 40%;
  }
}
body {
  font-family: "Open Sans", sans-serif;
}

.not-found {
  position: relative;
  overflow: hidden;
  margin: 0 -20vw;
  height: 110vh;
}
.not-found [class*=wave] {
  position: absolute;
}
.not-found div {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
.not-found div.wave-1 {
  background: url(http://res.cloudinary.com/andrewhani/image/upload/v1524501869/404/wave-1.svg);
}
.not-found div.wave-2 {
  background: url(http://res.cloudinary.com/andrewhani/image/upload/v1524501869/404/wave-2.svg);
}
.not-found div.wave-3 {
  background: url(http://res.cloudinary.com/andrewhani/image/upload/v1524501869/404/wave-3.svg);
}
.not-found div.wave-4 {
  background: url(http://res.cloudinary.com/andrewhani/image/upload/v1524501869/404/wave-4.svg);
}
.not-found div.wave-5 {
  background: url(http://res.cloudinary.com/andrewhani/image/upload/v1524501869/404/wave-5.svg);
}
.not-found div.wave-6 {
  background: url(http://res.cloudinary.com/andrewhani/image/upload/v1524501869/404/wave-6.svg);
}
.not-found div.wave-7 {
  background: url(http://res.cloudinary.com/andrewhani/image/upload/v1524501869/404/wave-7.svg);
}
.not-found div.sky-bg {
  background: url(http://res.cloudinary.com/andrewhani/image/upload/v1524821915/404/bg-1_gvybzk.svg);
  height: 100%;
}
.not-found div[class*=wave]:not(.wave-4) {
  height: calc(100% - 250px);
}
.not-found div.wave-4 {
  height: calc(100% - 430px);
}
.not-found .boat {
  position: absolute;
  top: 0;
  right: 15%;
  width: 150px;
  -webkit-animation: boat 15s cubic-bezier(0.65, 0.05, 0.36, 1) infinite;
  animation: boat 15s cubic-bezier(0.65, 0.05, 0.36, 1) infinite;
}
.not-found .wave-lost {
  position: absolute;
  top: 20%;
  left: 50%;
  color: #fff;
  font-size: 20rem;
  -webkit-animation: surf 2s;
  animation: surf 2s;
}
.not-found .wave-lost span {
  float: left;
  -webkit-animation: float 3s ease-in infinite;
  animation: float 3s ease-in infinite;
}
.not-found .wave-lost span:nth-child(2) {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}
.not-found .wave-lost span:nth-child(3) {
  -webkit-animation-delay: 4.5s;
  animation-delay: 4.5s;
}
.not-found .wave-island {
  position: absolute;
  top: 130px;
  left: 20%;
  padding: 10px;
  width: 170px;
}
.not-found .wave-message {
  position: absolute;
  bottom: 100px;
  left: 50%;
  padding-right: 50%;
  height: auto !important;
  color: #fff;
  font-size: 3rem;
  text-align: left;
  -webkit-animation: wave-message 1s;
  animation: wave-message 1s;
}

@-webkit-keyframes boat {
  0% {
    transform-origin: left;
    transform: rotate(-15deg) translate3d(400px, 0px, 0px);
  }
  20% {
    transform-origin: left;
    transform: rotate(15deg) translate3d(-20vw, 0, 0px);
  }
  25% {
    transform-origin: left;
    transform: rotate(-7deg) translate3d(-25vw, 0, 0px);
  }
  50% {
    transform-origin: left;
    transform: rotate(5deg) translate3d(-50vw, 0, 0px);
  }
  60% {
    transform-origin: left;
    transform: rotate(-1deg) translate3d(-60vw, 0, 0px);
  }
  100% {
    transform-origin: left;
    transform: rotate(2deg) translate3d(-100vw, 0, 0px);
  }
}
/* Standard syntax */
@keyframes boat {
  0% {
    transform-origin: left;
    transform: rotate(-15deg) translate3d(400px, 0px, 0px);
  }
  20% {
    transform-origin: left;
    transform: rotate(15deg) translate3d(-20vw, 0, 0px);
  }
  25% {
    transform-origin: left;
    transform: rotate(-7deg) translate3d(-25vw, 0, 0px);
  }
  50% {
    transform-origin: left;
    transform: rotate(5deg) translate3d(-50vw, 0, 0px);
  }
  60% {
    transform-origin: left;
    transform: rotate(-1deg) translate3d(-60vw, 0, 0px);
  }
  100% {
    transform-origin: left;
    transform: rotate(2deg) translate3d(-100vw, 0, 0px);
  }
}
@-webkit-keyframes float {
  0%, 100% {
    transform: rotate(3deg) translate3d(0px, -10px, 0px);
  }
  50% {
    transform: rotate(-3deg) translate3d(0px, 10px, 0px);
  }
}
/* Standard syntax */
@keyframes float {
  0%, 100% {
    transform: rotate(3deg) translate3d(0px, -10px, 0px);
  }
  50% {
    transform: rotate(-3deg) translate3d(0px, 10px, 0px);
  }
}
@-webkit-keyframes surf {
  0% {
    transform-origin: right;
    transform: rotate(15deg) translate3d(0, 800px, 0);
  }
  30% {
    transform-origin: right;
    transform: rotate(15deg) translate3d(0, 500px, 0);
  }
  100% {
    transform-origin: right;
    transform: rotate(0) translate3d(0, 0, 0px);
  }
}
/* Standard syntax */
@keyframes surf {
  0% {
    transform-origin: right;
    transform: rotate(15deg) translate3d(0, 800px, 0);
  }
  30% {
    transform-origin: right;
    transform: rotate(15deg) translate3d(0, 500px, 0);
  }
  100% {
    transform-origin: right;
    transform: rotate(0) translate3d(0, 0, 0px);
  }
}
@-webkit-keyframes wave-message {
  0% {
    transform: translate3d(0, 120%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
/* Standard syntax */
@keyframes wave-message {
  0% {
    transform: translate3d(0, 120%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}/*# sourceMappingURL=styles.css.map */